<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grade Suite!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script> 
  </head>
  <body>
    <div style="display:flex; flex-direction: column; align-items: center; gap: 1rem; margin-top: 5rem;"> 
      <h1>Welcome to the Grade Suite!</h1> 
      <sl-button href="/login">Login Here!</sl-button>
      <sl-button href="/signup">Sign up here!</sl-button>
    </div>
  </body>
</html>
