<!DOCTYPE html>
<html>
<head>
	<title>Grade Suite Login</title>
	<link rel="stylesheet" href="/styles.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
	<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>
</head>
<body>

	<div class = "main-container">
		<form action="/login" method="post">
		<sl-card class="card-basic">
			<h1>Login Here</h1>
			<sl-input placeholder="Email" name="email"></sl-input>
			<br />
			<sl-input type="password" placeholder="Password" name="pwd" password-toggle></sl-input>
            <br />
            <sl-button class="button1" type="submit">Login</sl-button>
			<%- errorMessage%>
		</sl-card>
		</form>
	</div>

</body>
</html>