<!DOCTYPE html>
<html>
<head>
	<title>Grade Suite Login</title>
	<link rel="stylesheet" href="/styles.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
	<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>
</head>
<body>
	<div class = "main-container">

		<sl-card class="card-basic">
			<h1><%- message %></h1>
            <br />
            <a href="/">
            <sl-button class="button1" >Return to the homepage</sl-button>
            </a>
		</sl-card>
	</div>


</body>
</html>