.card-basic {
    width: 500px;
}

.main-container{
    background-color:slategrey;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.dashboard-page{
    background-color:white;
    display: flex;
    align-items:stretch;
    justify-content:baseline;
    flex-direction: column;
    padding: 2rem;
    height: 75rem;
    width: 100rem;

}

.format-right{
    display: flex;
    justify-content:left;
    gap: 30px;
}

.input-same-line{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    flex-direction: row;
    gap: 30px;
}

.button1{
    width:100%;
}